body {
    font-family: Verdana, sans-serif;
    background: navy;
    color: white;
}

.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    width: 50%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.75);
}