/**
 * Container
 */

.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 45deg, hsl(120, 100%, 30%), hsl(210, 100%, 30%));
}