/**
 * Details
 */

.details {
    width: 260px;

    h1 {
        font-weight: bold;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 14px;
        font-style: italic;
        margin-bottom: 15px;
    }

    p {
        font-size: 14px;
    }
}